body {
  margin: 0;
  font-family: $font-secondary, sans-serif;
  scroll-behavior: smooth;
  background-color: $background;
}

footer {
  display: flex;
  justify-content: center;
  .on-top {
    margin: 30px;
    color: $primary;
  }
}

a {
  text-decoration: none;
}

h2 {
  font-family: $font-primary, sans-serif;
  font-weight: 400;
}
