.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
}

.card {
  position: relative;
  width: 27%;
  border-radius: 20px;
  overflow: hidden;
  transition: 0.5s;
  box-shadow: 0 0 14px 7px #7A7A7A;
  background-color: #C6C6C6;
}
.card--image {
  height: 200px;
  width: 100%;
  border-radius: 20px 20px 0 0;
  object-fit: cover;
}
.card--time {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 5px 15px;
  border-radius: 15px;
  font-size: 12px;
  background: #FFD15B;
}
.card__recipe {
  margin: 0 20px;
}
.card__recipe--name {
  color: #1B1B1B;
  font-size: 18px;
}
.card__recipe__infos--title {
  font-size: 12px;
  font-weight: 700;
  color: #7A7A7A;
}
.card__recipe__infos--description {
  color: #1B1B1B;
  font-size: 14px;
}
.card__recipe__infos__list {
  columns: 2;
  padding: 0;
  font-size: 14px;
  list-style: none;
}
.card__recipe__infos__list__item {
  margin-bottom: 20px;
}
.card__recipe__infos__list__item--text {
  color: #1B1B1B;
}
.card__recipe__infos__list__item--quantity {
  color: #7A7A7A;
}

.search {
  background-image: url("../../../../assets/images/les-petits-plats.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 700px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.search--logo {
  display: flex;
  padding: 30px;
}
.search__header {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.search__header--title {
  color: #FFD15B;
  font-size: 44px;
  text-align: center;
  margin: auto;
  width: 890px;
  padding: 30px;
}
.search__header__bar {
  display: flex;
  border-radius: 10px;
  width: 80%;
}
.search__header__bar--label {
  display: block;
  visibility: hidden;
  height: 50px;
  width: 50px;
}
.search__header__bar--input {
  height: 50px;
  width: 100%;
  border: none;
  border-radius: 10px;
  text-indent: 2rem;
  font-size: 1rem;
  color: #7A7A7A;
}
.search__header__bar--research {
  cursor: pointer;
  position: relative;
  top: 6px;
  right: 46px;
  height: 40px;
  width: 40px;
  border: none;
  border-radius: 10px;
  color: #C6C6C6;
  background-color: #1B1B1B;
}

.tags {
  max-height: 153px;
}
.tags__filter {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 50px;
}
.tags__filter__container {
  display: flex;
}
.tags__filter__container__dropdown {
  margin: 0 10px;
}
.tags__filter__container__dropdown--btn {
  cursor: pointer;
  display: block;
  width: 100%;
  border: none;
  color: #1B1B1B;
  background-color: white;
  font-size: 18px;
  padding: 15px;
  border-radius: 10px;
}
.tags__filter__container__dropdown__tag {
  position: relative;
  z-index: 1;
}
.tags__filter__container__dropdown__tag--btn {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 230px;
  border: none;
  color: #1B1B1B;
  background-color: white;
  font-size: 18px;
  padding: 15px;
  border-radius: 10px 10px 0 0;
}
.tags__filter__container__dropdown__tag--btn__list {
  background-color: white;
  max-height: 300px;
  overflow: auto;
  border-radius: 0 0 10px 10px;
  position: relative;
  top: -4px;
  max-width: 230px;
}
.tags__filter__container__dropdown__tag--btn__list--item {
  text-align: left;
  font-size: 14px;
  list-style: none;
  padding: 0;
}
.tags__filter__container__dropdown__tag--btn--item {
  cursor: pointer;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.tags__filter__container__dropdown__tag__div {
  display: flex;
  background-color: white;
  position: relative;
  top: -2px;
  max-width: 230px;
}
.tags__filter__container__dropdown__tag__div--label {
  display: block;
  visibility: hidden;
  width: 15px;
}
.tags__filter__container__dropdown__tag__div--input {
  background: none;
  width: 100%;
  border: 1px solid #1B1B1B;
  border-radius: 5px;
  margin: 10px 0;
  padding: 10px;
}
.tags__filter__container__dropdown__tag__div--research {
  cursor: pointer;
  border: none;
  background-color: transparent;
  position: relative;
  top: 25px;
  right: 25px;
  width: 15px;
  height: 15px;
  padding: 0;
}
.tags__filter--number {
  margin: 10px 0;
  color: #1B1B1B;
  font-size: 22px;
}

.filter-list--item {
  cursor: pointer;
  padding: 10px 15px;
  transition: 0.5s;
}
.filter-list--item:hover {
  background-color: #FFD15B;
  color: #1B1B1B;
  font-size: large;
  font-weight: bold;
  transition: 0.5s;
}

.fa-chevron-down, .fa-chevron-up {
  margin-left: 30px;
}

body {
  margin: 0;
  font-family: "Manrope", sans-serif;
  scroll-behavior: smooth;
  background-color: #C6C6C6;
}

footer {
  display: flex;
  justify-content: center;
}
footer .on-top {
  margin: 30px;
  color: #1B1B1B;
}

a {
  text-decoration: none;
}

h2 {
  font-family: "Anton", sans-serif;
  font-weight: 400;
}

/*# sourceMappingURL=style.css.map */
