// Color
$important: #FFD15B;
$primary: #1B1B1B;
$secondary-dark: #595959;
$secondary-light: #C6C6C6;
$background: #EDEDED;

// Font
$font-primary: 'Anton';
$font-secondary: 'Manrope';

// Breakpoint
$medium: 1400px;
$small: 950px;
