// Filters element sections
.filters {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 25px 0;
  &__wrapper {
    display: flex;
    margin-left: 25px;
    max-height: 50px;
  }
  &--number {
    color: $primary;
    font-size: 22px;
    margin: 10px 25px 10px 0;
  }
}

// Dropdown tags sections
.dropdown {
  display: flex;
  flex-direction: column;
  margin: 0 10px;
  width: 200px;
  height: 100%;
  &--btn {
    cursor: pointer;
    color: $primary;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    padding: 15px;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  &--items {
    display: none;
    position: relative;
    z-index: 1;
    background-color: white;
  }
}

// Search items
.search-tag {
  display: flex;
  align-items: center;
  &--input {
    background: none;
    width: 100%;
    border: 1px solid $primary;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
  }
  &--delete {
    cursor: pointer;
    background-color: transparent;
    border: none;
    font-size: 14px;
    height: 15px;
    width: 15px;
    padding: 0;
    position: absolute;
    right: 2.5em;
  }
  &--research {
    cursor: pointer;
    background-color: transparent;
    border: none;
    height: 15px;
    width: 15px;
    padding: 0;
    position: absolute;
    right: 1em;
  }
}
// Lists items
.list {
  border-radius: 0 0 5px 5px;
  font-size: 14px;
  list-style: none;
  overflow: auto;
  padding: 0;
  margin: 0;
  max-height: 300px;
  text-align: left;
  &--item {
    cursor: pointer;
    margin: 1px;
    padding: 10px 15px;
    transition: 0.5s;
  }
  &--item:hover {
    background-color: $important;
    border-radius: 5px;
    color: $primary;
    font-size: large;
    font-weight: bold;
    transition: 0.5s;
  }
}

// Tags container sections
.tags {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  margin: 25px 45px;
  &--button {
    cursor: pointer;
    display: flex;
    align-items: center;
    border: none;
    border-radius: 5px;
    background-color: $important;
    color: $primary;
    padding: 15px;
    i { margin-left: 15px }
  }
}

// Chevron btn
.fa-chevron-down {
  margin-left: 30px;
}

// Toggle dropdown
.active-btn {
  border-end-start-radius: 0;
  border-end-end-radius: 0;
} // Open dropdown
.active-tag {
  max-height: 250px;
  display: flex !important;
  flex-direction: column;
} // Open list
.rotate {
  transform: rotate(180deg);
} // Rotate chevron
.disabled {
  display: none;
}
